# ===================================
# Node.js
# ===================================
node_modules/
npm-debug.log*
package-lock.json

# ===================================
# Variáveis de Ambiente (CRÍTICO!)
# ===================================
.env


# ===================================
# IDEs e Editores
# ===================================
# VSCode
.vscode/
*.code-workspace


# ===================================
# Uploads/Arquivos de Usuário
# ===================================
public/